.markdownContainer {
    width: 99vw;
    min-height: 95vh;
    background: #fff;
    padding: 1rem;
  }

  .markdownContainer h1 {
    font-size: 3rem;
    color: #007bff;
    margin-bottom: 1rem;
  }

  .markdownContainer h2 {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 1rem;
  }

  .markdownContainer p{
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .markdownContainer a
  {
color:#007bff
  }
  